/* Configurações do sistema */
* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    border: 0;
    position: relative;
    font-family: Public Sans, sans-serif;
    background-color: white;
    overflow-x: hidden;
}
/* Configurações de menu */

nav {
    background-color: white;
    height: 10vh;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding-left: 20vh;
}

nav img {
    margin-top: -10px;
    height: 2.5vh;
    position: absolute;
}

nav img:hover{
    zoom: 120%;
}

button {
    color: white;
    font-size: 1rem;
    font-weight: 600;
    height: 5.4vh;
    width: 19vh;
    margin-right: 30vh;
    border-radius: 25px;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border: none
}

button:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, hsl(136, 100%, 77%), hsl(192, 87%, 69%));
}

nav a {
    text-decoration: none;
    color: hsl(0, 0%, 65%);
    font-weight: 500;
    font-size: 1.1rem;
}

nav a:hover {
    text-decoration: underline hsl(192, 87%, 69%) 2px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding-left: 5vh;
}

/* Configurações de next generation */

.next-generation {
    height: 100%;
    width: 100%;
    padding-left: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsl(0, 0%, 98%);
    align-items: flex-start;
    padding-top: 10vh;
}

#next {
    font-size: 1.9rem;
    padding-top: 20vh;
    margin-bottom: 20vh;
}

.next-generation h1 {
    color: hsl(233, 26%, 24%);
    font-weight: 500;
    margin-bottom: 20px;
}

.next-generation p {
    width: 550px;
    color: hsl(233, 8%, 62%);
    font-size: 25px;
    margin-bottom: 20px;
}

.mockup {
    width: 700%;
    height: 900px;
    display: flex;
    flex-direction: row;
    background-image: url('img/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-position-x: 65vh;
    background-position-y: -34vh;
    background-size: cover;
}

.next-generation img {
    height: 110vh;
    width: 100vh;
    padding-left: 30vh;
    top: -10vh;
    z-index: 1;  
}

/* Configurações choose */

.color {
    background-color: hsl(220, 16%, 96%);
    width:101%;
    transform: translateY(-45px);
}

.choose {
    margin-left: 20vh;
    width: 100%;
    height: 100%;
}

.choose h2 {
    padding-top: 15vh;
    font-size: 3rem;
    color: hsl(233, 26%, 24%);
    font-weight: 500;
}

.choose p {
    color: hsl(233, 8%, 62%);
    font-size: 1.5rem;
    padding-bottom: 10vh;
}

/* Configurações das Features */ 

.features {
    display: flex;
    flex-direction: row;
    padding-left: 20vh;
    padding-bottom: 45vh;
    align-items: center;
}

/* Configurações feature 1 */

.features-1 {
    width: 15vw;
    height: 5vh;
    margin-right: 3vh;
    line-height: 30px;
}

.features-1 h3 {
    font-size: 1.6rem;
    font-weight: 500;
    color: hsl(233, 26%, 24%);
}

.features-1 p {
    font-size: 1.2rem;
    font-weight: 500;
    color: hsl(233, 8%, 62%)
}

.features-1 img {
    width: 32%;
    padding-bottom: 2vh;
}

/* Configurações feature 2 */ 

.features-2 {
    width: 15vw;
    height: 5vh;
    margin-right: 3vh;
}

.features-2 h3 {
    font-size: 1.6rem;
    font-weight: 500;
    color: hsl(233, 26%, 24%);
}

.features-2 p {
    font-size: 1.2rem;
    color: hsl(233, 8%, 62%);
    line-height: 30px;
}

.features-2 img {
    width: 32%;
    padding-bottom: 2vh;
}

/* Configurações de feature 3 */ 

.features-3 {
    width: 15vw;
    height: 5vh;
    margin-right: 3vh;
}

.features-3 h3 {
    font-size: 1.6rem;
    font-weight: 500;
    color: hsl(233, 26%, 24%);
}

.features-3 p {
    font-size: 1.2rem;
    color: hsl(233, 8%, 62%);
    line-height: 30px;
}

.features-3 img {
    width: 32%;
    padding-bottom: 2vh;
}

/* Configurações de feature 4 */ 

.features-4 {
    width: 15vw;
    height: 5vh;
    margin-right: 3vh;
}

.features-4 h3 {
    font-size: 1.6rem;
    font-weight: 500;
    color: hsl(233, 26%, 24%);
}

.features-4 p {
    font-size: 1.2rem;
    color: hsl(233, 8%, 62%);
    width: 35vh;
}

.features-4 img {
    width: 32%;
    padding-bottom: 2vh;
}

/* Configurações de article */

#colorblog {
    width: 101%;
    background-color: hsla(0, 0%, 98%, 0.897);
    transform: translateY(-95px);
}

.articles-title h3{
    padding-top: 10vh;
    padding-left: 20vh;
    font-size: 3rem;
    font-weight: 500;
    color: hsl(233, 26%, 24%);
}

.articles {
    width: 100vh;
    display: flex;
    flex-direction: row;
    margin-left: 20vh;
    align-items: top;
    padding-bottom: 10vh;
}

.articles img {
    width: 15vw;
    height: 13vw;
    margin-right: 5vh;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.articles img:hover {
    zoom: 110%;
}
.autor {
    font-size: .7rem;
    margin-top: 3vh;
    margin-left: 3vh;
    color: hsl(233, 8%, 62%);
    margin-bottom: 0;
}

.blog-title {
    width: 11vw;
    margin-top: 10px;
    margin-left: 3vh;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
}

#blog-text {
    color: hsl(233, 8%, 62%);
    font-size: 1.1rem;
    width: 12vw;
    margin-left: 3vh;
}

#see-more {
    font-size: .9rem;
    margin-left: 3vh;
    color: hsl(233, 26%, 24%);
}

/* Configurações de cada artigo*/

.latest-articles-1 {
    width: 30vh;
    margin-right: 5vh;
    background-color: white;
    padding-bottom: 5vh;    
}

.latest-articles-2 {
    width: 30vh;
    margin-right: 5vh;
    background-color: white;
    padding-bottom: 5vh;    
}

.latest-articles-3 {
    width: 30vh;
    margin-right: 5vh;
    background-color: white;
    padding-bottom: 5vh;    
}

.latest-articles-4 {
    width: 30vh;
    margin-right: 5vh;
    background-color: white;
    padding-bottom: 5vh;    
}

/* Configurações do rodapé */ 


footer {
    color: white;
    background-color: hsl(233, 26%, 24%);
    background-position-x: -10px;
    height: 200px;
    width: 101%;
    padding-left: 20vh;
    padding-top: 5vh;
    display: flex;
    flex-direction: row;
}

.socials {
    padding-left: 10px;
    padding-top: 35px;
}

.socials a:hover {
    margin: 5px;
}

#footer-1 img{
    margin-left: 15px;
}

#footer-1 img:hover{
    zoom: 105%;
}

.socials img {
    margin-left: 20px;
}

.links {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}

.links-2 {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.links a {
    text-decoration: none;
    color: hsl(235, 9%, 75%);
    margin: 10px;
}

.links-2 a {
    text-decoration: none;
    color: hsl(235, 9%, 75%);
    margin: 10px;
}

.links a:hover {
    color: white;
}

.links-2 a:hover {
    color: white;
}

.last-section button{
    margin-top: 20px;
    margin-left: 490px;
    margin-bottom: 40px;    
}

.rights-reserved {
    margin-left: 440px;
    color: hsl(235, 9%, 75%);
    font-size: 19px;
}
